<h1 class="heading-xlarge">There is a problem</h1>
<p>You did not select an option to get relevant careers advice.</p>
<p>To get relevant careers advice, <a href="/">go back to the homepage</a> and select your education or work situation.</p>
