@model HeroBannerViewModel

<section aria-label="header" class="dfc-app-triage-panel-banner">
    <div class="govuk-width-container">
        <h1 class="heading">
            You’ve told us that you’re @Model.SelectedLevelOne and @Model.SelectedLevelTwo
        </h1>
        <p class="banner-description">
            We've selected a range of relevant careers advice resources to help you
        </p>
     </div>
</section>