@model HeroBannerViewModel

<section aria-label="Search" class="dfc-app-triage-panel-banner">
    <form action="/triagetool" method="post" id="triage-search-form" class="triage-panel-search-form triage-page">
        <section id="triage-search-banner" class="primary-hero">
            <div class="govuk-width-container">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h1 class="govuk-heading-xl">Personalised careers advice and information</h1>
                        <div class="triage-search-item-wrapper">
                            <div class="govuk-form-group govuk-!-margin-bottom-0">
                                <label class="govuk-label triage-select-label" for="sort"> Showing advice for </label>
                                <select class="govuk-select triage-select" id="triageSelect" name=@nameof(TriageToolOptionViewModel.Title)>
                                    @foreach (var option in Model.Options)
                                    {
                                        <option value="@option" id="advice1">@option</option>
                                    }
                                </select>
                                <button draggable="false" class="govuk-button triage-start-btn app-button--inverted govuk-!-margin-top-1 govuk-!-margin-bottom-0" data-module="govuk-button"> See suggestions</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</section>