@model TriageToolOptionViewModel


<ol class="results-list">
    @foreach (var pageItem in Model.Pages)
    {
        <li class="dfc-code-search-resultitem info-card" id="@pageItem." style="display: list-item;">
            <div class="info-card-content">
                <h3 class="govuk-heading-m"><a class="govuk-link" href="@pageItem.Link">@pageItem.Title</a></h3>
                <p class="govuk-body">@Html.Raw(pageItem.Summary)</p>
            </div>
        </li>
    }
</ol>
